* {
    font-family: 'Source Code Pro';
    font-size: 15px;
}

.notification-row:focus,
.notification-row:hover {
    opacity: 0.8;
    background: #1e1e2e;
}

.notification-row {
    outline: none;
    margin: 10px;
    padding: 0;
}

.notification,
.notification-content,
.notification-default-action,
.notification-action {
    margin: 0;
    padding: 0;
}

.notification {
    background: transparent;
}

.notification-content,
.notification-action {
    border-radius: 10px;
}

.notification-content {
    background: #1e1e2e;
    padding: 5px;
    border: 2px solid #89dceb;
}

.notification-default-action:not(:only-child),
.notification-action:first-child,
.notification-action:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.notification-action:first-child,
.notification-action:last-child {
    background: #1e1e2e;
}

.close-button {
    background: #f7768e;
    color: #15161e;
    text-shadow: none;
    padding: 0;
    border-radius: 10px;
    margin: 5px 0 0 5px;
}

.close-button:hover {
    background: #89dceb;
    transition: all .15s ease-in-out;
    border: none;
}

.notification-default-action:hover,
.notification-action:hover {
    color: #89dceb;
}

.inline-reply {
    margin-top: 8px;
}

.inline-reply-entry {
    background: #1e1e2e;
    color: #c0caf5;
    caret-color: #c0caf5;
    border: 1px solid #9ece6a;
    border-radius: 5px;
}

.inline-reply-button {
    margin-left: 4px;
    background: #1e1e2e;
    border: 1px solid #9ece6a;
    border-radius: 5px;
    color: #c0caf5;
}

.inline-reply-button:disabled {
    background: initial;
    color: #414868;
    border: 1px solid transparent;
}

.inline-reply-button:hover {
    background: #1e1e2e;
}

.control-center {
    background: #1e1e2e;
    border: 2px solid #34548a;
    border-radius: 5px;
}

