@import "mocha.css";

* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    border-radius: 25px;
}

window#waybar {
    background-color: alpha(@base, 0.6);
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @text;
}

#workspaces button:hover {
    background: alpha(@lavender, 0.6);
}

#workspaces button.active {
    background-color: alpha(@sapphire, 0.7);
}


#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#tray {
    padding: 0 4px;
    background: alpha(@overlay0, 0.5);
}

#pulseaudio,
#pulseaudio {
    color: @pink;
}
#network {
    color: @yellow;
}

#window {
    color: @sky;
}

#cpu {
    color: @teal;
}
#memory {
    color: @peach;
}
#backlight {
    color: @maroon;
}
#clock {
    color: @rosewater;
}
#workspaces {
    color: @blue;
    margin: 0 4px;
}

#battery.good:not(.charging),
#battery.charging,
#battery.plugged {
    color: @green;
}

#battery.warning:not(.charging),
#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @crust;
}


