@import "mocha.css";

* {
    font-family: "FontAwesome", "Roboto", "Helvetica", "Arial", sans-serif;
    border-radius: 20px;
}

window#waybar {
    background-color: alpha(@base, 0.6);
    color: @text;
    transition: background-color 0.5s;
}

#workspaces button {
    padding: 0 8px;
    background-color: transparent;
    color: @text;
    margin: 2px;
}

#workspaces button:hover {
    background: alpha(@lavender, 1);
}

#workspaces button.active {
    background-color: alpha(@sapphire, 0.9);
}

#workspaces button.urgent {
    background-color: @red;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#bluetooth,
#tray {
    padding: 0 4px;
}

#pulseaudio,
#network,
#bluetooth {
    color: @pink;
}

#network {
    color: @yellow;
}

#bluetooth {
    color: @lavender;
}

#window {
    color: @sky;
}

#cpu {
    color: @teal;
}

#memory {
    color: @peach;
}

#backlight {
    color: @maroon;
}

#clock {
    color: @rosewater;
}

#battery.good:not(.charging),
#battery.charging,
#battery.plugged {
    color: @green;
}

#battery.warning:not(.charging),
#battery.critical:not(.charging) {
    color: @red;
    animation: blink 0.5s linear infinite alternate;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @crust;
}

